.btn-group.vertical.danger
    input(type='checkbox' id='ch1')
    label(for='ch1') первый
    input(type='checkbox' id='ch2')
    label(for='ch2') второй
    input(type='checkbox' id='ch3')
    label(for='ch3') третий
    input(type='checkbox' id='ch4')
    label(for='ch4') четвертый
.btn-group.vertical.danger.outline
    div первый
    div второй
    div третий
    div четвертый
