//{{{1 Объявление
.btn
.btn-link
.btn-group > *
.btn-link-group > *
    display inline-block
    font-weight 400
    line-height 1.5
    text-align center
    text-decoration none
    vertical-align middle
    cursor pointer
    user-select none
    transition color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
    @media (prefers-reduced-motion: reduce)
        transition none
.btn:disabled
.btn.disabled
.btn-link:disabled
.btn-link.disabled
.btn-group > *:disabled
.btn-group > .disabled
.btn-group:disabled > *
.btn-group.disabled > * 
fieldset:disabled .btn
    pointer-events none
    opacity .65

.btn-link
    &
    &-group > *
        text-decoration underline

.btn-group
    margin 10px
    position relative
    display inline-flex
    vertical-align middle
    & > *:first-child:not([type="checkbox"]):not([type="radio"])
    & > [type="checkbox"]:first-child + *
    & > [type="radio"]:first-child + *
        border-top-left-radius inherit
        border-bottom-left-radius inherit
    & > *
        border-radius 0
        font-size inherit
        &:last-child
            border-top-right-radius inherit
            border-bottom-right-radius inherit
        &:not(:last-child)
            border-right-width 0
    &>[type='checkbox']
    &>[type='radio']
        position absolute
        clip rect(0, 0, 0, 0)
        pointer-events none
        z-index 100
    &.disabled + *
    &:disabled + *
        pointer-events none
        filter none
        opacity 0.65


//{{{1 Размер
.btn
    &
    &-link
    &-group
    &-link-group
    &-group > *
    &-link-group > *
        --size .375rem
    &.sm
    &-link.sm
    &-group.sm
    &-link-group.sm
    &-group.sm > *
    &-link-group.sm > *
        --size .25rem
    &.lg
    &-link.lg
    &-group.lg
    &-link-group.lg
    &-group.lg > *
    &-link-group.lg > *
        --size .5rem

.btn
    &
    &-link
    &-group > *
    &-link-group > *
        padding var(--size) calc(var(--size)*2)
.btn
    &
    &-link
    &-group
    &-link-group
        font-size calc(var(--size)*2 + .25rem)
        border-radius var(--size)

//{{{1 Цвет
c.btn = {
    primary: white #0b5ed7 #0a58ca #0a53be,
    secondary: white #5c636a #565e64 #51585e,
    success: white #157347 #146c43 #13653f,
    info: black #31d2f2 #3dd5f3 #25cff2,
    warning: black #ffca2c #ffcd39 #ffc720,
    danger: white #bb2d3b #b02a37 #a52834,
    light: black #d3d4d5 #c6c7c8 #babbbc,
    dark: white #424649 #4d5154 #373b3e,
}

.btn
.btn-group > *
    --bg transparent
    --col #212529
    --bor transparent
    &:active
    &.active
        box-shadow inset 0 3px 5px rgba(0, 0, 0, 0.125)
    background-color var(--bg)
    border 1px solid var(--bor)
    color var(--col)
    &:hover
        background-color var(--bg-h)
        color var(--col-h)
        border-color var(--bor-h)
    &:focus-visible
        outline 0
        background-color var(--bg-h)
        color var(--col-h)
        border-color var(--bor-h)
.btn:active
.btn.active
.btn-group > *:active
.btn-group > .active
.btn-group > *:checked + *
    background-color var(--bg-a)
    color var(--col-a)
    border-color var(--bor-a)
.btn.outline
.btn-group.outline > *
    --bg transparent !important

for k, v in c.btn
    .btn.{k}
    .btn-group.{k} > *
        --bg (c.m[k])
        --bg-h (v[1])
        --bg-a (v[2])
        --col (v[0]) !important
        --col-h (v[0]) !important
        --col-a (v[0])
        --bor (c.m[k])
        --bor-h (v[2])
        --bor-a (v[3])
    .btn.outline.{k}
    .btn-group.outline.{k} > *
        --bg-h (c.m[k])
        --bg-a (c.m[k])
        --col (c.m[k]) !important
        --col-h (v[0])
        --col-a (v[0])
        --bor (c.m[k])
        --bor-h (c.m[k])
        --bor-a (c.m[k])

.btn-link
    &
    &-group > *
        color (c.m.primary)
        &:hover
            color (c.btn.primary[2])
        &:active
        &.active
            color (c.btn.primary[2])
.btn-link
    &.disabled
    &.disabled
    &-group:disabled > *
    &-group.disabled > *
    &-group > *:disabled
    &-group > *.disabled
        color c.m.secondary

//{{{1 МАСТЕРСКАЯ


.btn-group.vertical
    flex-direction column
    align-items flex-start
    justify-content center
    &>*
        width 100%
        border-right-width 1px
        border-radius 0
        &:not(:last-child)
            border-bottom none
        &:last-child
            border-bottom-right-radius inherit
            border-bottom-left-radius inherit
    & > *:first-child:not([type="checkbox"]):not([type="radio"])
    & > [type="checkbox"]:first-child + *
    & > [type="radio"]:first-child + *
        border-top-right-radius inherit
        border-bottom-left-radius 0



/*
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  flex: 1 1 auto;
}
.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.btn-toolbar .input-group {
  width: auto;
}

.btn-group {
  border-radius: 0.375rem;
}
.btn-group > :not(.btn-check:first-child) + .btn,
.btn-group > .btn-group:not(:first-child) {
  margin-left: calc(var(--bs-border-width) * -1);
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn.dropdown-toggle-split:first-child,
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:nth-child(n+3),
.btn-group > :not(.btn-check) + .btn,
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-toggle-split {
  padding-right: 0.5625rem;
  padding-left: 0.5625rem;
}
.dropdown-toggle-split::after, .dropup .dropdown-toggle-split::after, .dropend .dropdown-toggle-split::after {
  margin-left: 0;
}
.dropstart .dropdown-toggle-split::before {
  margin-right: 0;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
  width: 100%;
}
.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) {
  margin-top: calc(var(--bs-border-width) * -1);
}
.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn ~ .btn,
.btn-group-vertical > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
*/
