c.btn = {
    a: {},
    bg: transparent,
    disabled_a: 0.65,
    shadow: alpha(white, 0.15) alpha(black, 0.075), 
    //focus_shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5),
}
c.btn.a = {
    default: {
        sel: '&',
        bg_c: {},
        color: {
            primary: white,
            secondary: white,
            success: white,
            danger: white,
            warning: black,
            info: black,
            light: black,
            dark: white,
        },
    },
    hover: {
        sel: '&:hover',
        color: {},
        bg_c: {
            primary: #0b5ed7,
            secondary: #5c636a,
            success: #157347,
            danger: #bb2d3b,
            warning: #ffca2c,
            info: #31d2f2,
            light: #d3d4d5,
            dark: #424649,
        },
        bor_c: {
            primary: #0a58ca,
            secondary: #565e64,
            success: #146c43,
            danger: #b02a37,
            warning: #ffc720,
            info: #25cff2,
            light: #c6c7c8,
            dark: #373b3e,
        },
    },
    active: {
        sel: '&:active, &.active',
        bg_c: {},
        color: {},
        bor_c: {
            primary: #0a53be,
            secondary: #51585e,
            success: #13653f,
            danger: #a52834,
            warning: #ffc720,
            info: #25cff2,
            light: #babbbc,
            dark: #373b3e,
        },
    },
    focus: {
        sel: '&:focus-visible',
        bg_c: {},
        bor_c: {},
        btn_shadow: {
            primary: #3184fd,
            secondary: #828a91,
            success: #3c996e,
            danger: #e15361,
            warning: #d9a406,
            info: #0baccc,
            light: #d3d4d5,
            dark: #3c4649,
        },
    },
}

for k, i in c.m
    c.btn.a.default.bg_c[k] = i
    c.btn.a.hover.color[k] = c.btn.a.default.color[k] !important
c.btn.a.active.color = c.btn.a.default.color
c.btn.a.active.bg_c = c.btn.a.hover.bor_c
c.btn.a.focus.bg_c = c.btn.a.hover.bor_c
c.btn.a.focus.bor_c = c.btn.a.active.bor_c

bg_c(c)
    background-color c
bor_c(c)
    border-color c
btn_shadow(c)
    box-shadow inset 0 1px 0 alpha(c, 0.15), 0 1px 1px alpha(black, 0.075)


.btn
.btn-link
.btn-group > *
    line-height 1.5
    display inline-block
    vertical-align middle
    text-align center
    border 1px solid transparent
    user-select none
    font-weight 400

.btn
.btn-group > *
    text-decoration none
    cursor pointer
    transition color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
    @media (prefers-reduced-motion: reduce)
        transition none
    &:focus-visible
        border-color transparent
        outline 0
.btn:disabled
.btn.disabled
.btn-group > *:disabled
.btn-group > *.disabled
.btn-group.disabled > *
fieldset:disabled .btn
fieldset:disabled .btn-group > *
    pointer-events none
    opacity 0.65



p_from_a(a, c)
    for t in a
        if t != 'sel'
            v = a[t][c]
            {t} v

for k in c.m
    .btn{'.' + k}
    .btn-group{'.' + k} > *
        for t in c.btn.a
            sel = c.btn.a[t]['sel']
            {sel}
                p_from_a(c.btn.a[t], k)


.btn.outline
.btn-group.outline > *
    bg_c transparent
    &:active
        box-shadow inset 0 3px 5px alpha(black, 0.125)

for k, v in c.m
    .btn.outline.{k}
    .btn-group.outline.{k} > *
        color v
        border-color v
        &:hover
            bg_c v
            color c.btn.a.default.color[k]
    .btn.outline.{k}:active
    .btn.outline.{k}.active
    .btn-group.outline.{k} > *:active
    .btn-group.outline.{k} > *.active
    .btn-group.outline.{k} > *:checked + *
        color c.btn.a.default.color[k]
        bg_c v

.btn-link
.btn-group-link > *
    font-weight 400
    color (c.link.color) 
    text-decoration underline
    bg_c transparent
    //bor_c transparent
    &:hover
        color c.link.hover_color
    &:active
    &.active
        color c.link.hover_color
    &:disabled
    &.disabled
        color #6c757d
    &:focus-visible
        box-shadow none

t['btn'] = {
    pad: (0.25 0.5) (0.375 0.75) (0.5 1),
    fs: 0.875 1 1.25,
    br: 0.25 0.375 0.5
}

for k, i in '.sm' '' '.lg'
    .btn{k}
    .btn-link{k}
    .btn-group{k} > *
        font-size: unit(t.btn.fs[i], 'rem')
        border-radius: unit(t.btn.br[i], 'rem')
        padding: unit(t.btn.pad[i][0], 'rem') unit(t.btn.pad[i][1], 'rem')

//.btn-group > *
    //margin 5px

.btn-group
    margin 10px
    padding 10px
    border 1px solid black
    border-radius 0.375rem
    display inline-flex
    vertical-align middle
    & > *:first-child:not([type="checkbox"])
    & > [type="checkbox"]:first-child + *
        border-top-left-radius inherit
        border-bottom-left-radius inherit
    & > *
        border-radius 0
        &:last-child
            border-top-right-radius inherit
            border-bottom-right-radius inherit
        &:not(:last-child)
            border-right none
    &>[type='checkbox']
        position absolute
        clip rect(0, 0, 0, 0)
        pointer-events none
        z-index 100
    &.disabled + *
    &:disabled + *
        pointer-events none
        filter none
        opacity 0.65

/*
.btn-group > [type='checkbox']
    & + label:hover
        color var(--bs-btn-color)
        background-color var(--bs-btn-bg)
        border-color var(--bs-btn-border-color)
    &:focus-visible + label
        border-color var(--bs-btn-hover-border-color)
        outline 0
        box-shadow var(--bs-btn-focus-box-shadow)

.btn-check:checked + .btn
:not(.btn-check) + .btn:active
.btn:first-child:active
.btn.active
.btn.show
    color var(--bs-btn-active-color)
    background-color var(--bs-btn-active-bg)
    border-color var(--bs-btn-active-border-color)

.btn-check:checked + .btn:focus-visible
:not(.btn-check) + .btn:active:focus-visible
.btn:first-child:active:focus-visible
.btn.active:focus-visible
.btn.show:focus-visible
    box-shadow var(--bs-btn-focus-box-shadow)
*/



/*
.btn-group
    margin 10px
    border-radius 0.375rem
    &
    &-vertical
        position relative
        display inline-flex
        vertical-align middle
        & > .btn
            position relative
            flex 1 1 auto
            &-check:checked + .btn
            &-check:focus + .btn
            &:hover
            &:focus
            &:active
            &.active
                z-index 1
    & > :not(.btn-check:first-child) + .btn
    & > .btn-group:not(:first-child)
        margin-left calc(var(--bs-border-width) * -1)
    & > .btn:not(:last-child):not(.dropdown-toggle)
    & > .btn.dropdown-toggle-split:first-child
    & > .btn-group:not(:last-child) > .btn
        border-top-right-radius 0
        border-bottom-right-radius 0
    & > .btn:nth-child(n+3)
    & > :not(.btn-check) + .btn
    & > .btn-group:not(:first-child) > .btn
        border-top-left-radius 0
        border-bottom-left-radius 0

.btn-sm + .dropdown-toggle-split
.btn-group-sm > .btn + .dropdown-toggle-split
    padding-right 0.375rem
    padding-left 0.375rem

.btn-lg + .dropdown-toggle-split
.btn-group-lg > .btn + .dropdown-toggle-split
    padding-right 0.75rem
    padding-left 0.75rem

.btn-group-vertical
    flex-direction column
    align-items flex-start
    justify-content center

.btn-group-vertical > .btn
.btn-group-vertical > .btn-group
    width 100%

.btn-group-vertical > .btn:not(:first-child)
.btn-group-vertical > .btn-group:not(:first-child)
    margin-top calc(var(--bs-border-width) * -1)

.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle)
.btn-group-vertical > .btn-group:not(:last-child) > .btn
    border-bottom-right-radius 0
    border-bottom-left-radius 0


.btn-group-vertical > .btn ~ .btn
.btn-group-vertical > .btn-group:not(:first-child) > .btn
    border-top-left-radius 0
    border-top-right-radius 0

*/

 














/*
*/






















