//{{{1 Краткие имена свойств
bg_c(k)
    background-color k

//{{{1 Размеры
s = {
rem: 0.2rem,
}

//{{{1 Селектор
sel(a, p='', b='')
    t = ()
    for k, i in a
        t[i] = b + k + p 
    join(', ', t)

//{{{1 Цвета
c = {
    m: {
    primary: #0d6efd,
    secondary: #6c757d,
    success: #198754,
    info: #0dcaf0,
    warning: #ffc107,
    danger: #dc3545,
    light: #f8f9fa,
    dark: #212529,
    },
    start: {
        hov: {
            primary: #0062cc,
            secondary: #6c757d,
            success: #1e7e34,
            info: #117a8b,
            warning: #d39e00,
            danger: #bd2130,
            light: #dae0e5,
            dark: #1d2124,
            },
        btnhov: {
            primary: #0069d9,
            secondary: #727b84,
            success: #218838,
            info: #138496,
            warning: #e0a800,
            danger: #c82333,
            light: #e2e6ea,
            dark: #23272b,

        }
    },
    btn: { text: {}, bg: {}, border: {}, shadow: {} }
}

//{{{2 Минус класс дефолтного цвета
c['class'] = c.m

for k, i in c.class
    c.class[k] = '.' + k

c['class']['primary'] = ''
