a
    --col #0d6efd !important
    --col-h #0a58ca !important
    color var(--col)
    text-decoration underline
    &:hover
        color var(--col-h)
    &:not([href])
        &:not([class])
        &:not([class]):hover
            color inherit
            text-decoration none






t = {}
c = {
    btn: {},
    nm: {
        blue: #0d6efd,
        indigo: #6610f2,
        purple: #6f42c1,
        pink: #d63384,
        red: #dc3545,
        orange: #fd7e14,
        yellow: #ffc107,
        green: #198754,
        teal: #20c997,
        cyan: #0dcaf0,
        black: #000,
        white: #fff,
        gray: #6c757d,
        gray_dark: #343a40,
        gray1: #f8f9fa,
        gray2: #e9ecef,
        gray3: #dee2e6,
        gray4: #ced4da,
        gray5: #adb5bd,
        gray6: #6c757d,
        gray7: #495057,
        gray8: #343a40,
        gray9: #212529,
        },
    m: {
        primary: #0d6efd,
        secondary: #6c757d,
        success: #198754,
        info: #0dcaf0,
        warning: #ffc107,
        danger: #dc3545,
        light: #f8f9fa,
        dark: #212529,
        },
    text: {
        primary: #0a58ca,
        secondary: #6c757d,
        success: #146c43,
        info: #087990,
        warning: #997404,
        danger: #b02a37,
        light: #6c757d,
        dark: #495057,
        },
    subtle: {
        bg: {
            primary: #cfe2ff,
            secondary: #f8f9fa,
            success: #d1e7dd,
            info: #cff4fc,
            warning: #fff3cd,
            danger: #f8d7da,
            light: #fcfcfd,
            dark: #ced4da,
            },
        border: {
            primary: #9ec5fe,
            secondary: #e9ecef,
            success: #a3cfbb,
            infor: #9eeaf9,
            warning: #ffe69c,
            danger: #f1aeb5,
            light: #e9ecef,
            dark: #adb5bd,
            },
        },
    body: {
        color: #212529,
        bg: #fff,
        },
    emphasis: {
        color: #000,
        },
    secondary: {
        color_a: rgba(33, 37, 41, 0.75),
        color: #212529,
        bg: #e9ecef,
        },
    tertiary: {
        color_a: rgba(33, 37, 41, 0.5),
        color: #212529,
        bg: #f8f9fa,
        },
    link: {
        color: #0d6efd,
        hover_color: #0a58ca,
        },
    border: #dee2e6,
    border_a: rgba(0, 0, 0, 0.175),
    highlight: #fff3cd,
    code: #d63384,
    heading: black,
}
c.form = c.body.bg
c.form_disabled = c.secondary.bg

shadow = {
    sm: 0 0.125rem 0.25rem alpha(c.body.color, 0.075),
    base: 0 0.5rem 1rem alpha(c.body.color, 0.15),
    lg: 0 1rem 3rem alpha(c.body.color, 0.175),
    inset: inset 0 1px 2px alpha(c.body.color, 0.075),
}
gradient = linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))

dc = {
    text: {
        primary: #6ea8fe,
        secondary: #dee2e6,
        success: #75b798,
        info: #6edff6,
        warning: #ffda6a,
        danger: #ea868f,
        light: #f8f9fa,
        dark: #dee2e6,
        },
    subtle: {
        bg: {
            primary: #031633,
            secondary: #212529,
            success: #051b11,
            info: #032830,
            warning: #332701,
            danger: #2c0b0e,
            light: #343a40,
            dark: #1a1d20,
            },
        border: {
            primary: #084298,
            secondary: #495057,
            success: #0f5132,
            infor: #055160,
            warning: #664d03,
            danger: #842029,
            light: #495057,
            dark: #343a40,
            },
        },
    body: {
        color: #adb5bd,
        bg: #212529,
        },
    emphasis: {
        color: #f8f9fa,
        },
    secondary: {
        color_a: rgba(173, 181, 189, 0.75),
        bg: #343a40,
        },
    tertiary: {
        color_a: rgba(173, 181, 189, 0.5),
        color: #adb5bd,
        bg: #2b3035,
        },
    link: {
        color: #6ea8fe,
        hover_color: #9ec5fe,
        },
    border: #495057,
    border_a: rgba(255, 255, 255, 0.15),
    highlight: ,
    code: #e685b5,
    heading: #fff,
}

font = {
    serif: unquote("system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'"),
    monospace: unquote("SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace"),
    size: 1rem,
    weight: 400,
    line_height: 1.5,
}

border = {
    radius: {
        base: 0.375rem,
        sm: 0.25rem,
        lg: 0.5rem,
        xl: 1rem,
        xl2: 2rem,
        pill: 50rem,
        },
    width: 1px,
    style: solid,
}

breakpoint = {
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
}





*
*::before
*::after
    box-sizing border-box

@media (prefers-reduced-motion: no-preference)
    :root
        scroll-behavior smooth

body
    margin 0
    font-family font.serif
    font-size font.size
    font-weight font.weight
    line-height font.line_height
    color c.body.color
    background-color c.body.bg
    -webkit-text-size-adjust 100%
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)

hr
    margin 1rem 0
    color inherit
    border 0
    border-top border.width solid
    opacity 0.25

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1
    margin-top 0
    margin-bottom 0.5rem
    font-weight 500
    line-height 1.2
    color c.heading

h = {
    fs: calc(1.375rem + 1.5vw) calc(1.325rem + 0.9vw) calc(1.3rem + 0.6vw) calc(1.275rem + 0.3vw) 1.25rem 1rem,
    fsm: 2.5rem 2rem 1.75rem 1.5rem,
}
hs(a)
    for k, i in a
        i += 1
        h{i}, .h{i}
            font-size k
hs(h.fs)
@media (min-width: breakpoint.xl)
    hs(h.fsm)

p
    margin-top 0
    margin-bottom 1rem

abbr[title]
    text-decoration underline dotted
    cursor help
    text-decoration-skip-ink none

address
    margin-bottom 1rem
    font-style normal
    line-height inherit

ol
ul
    padding-left 2rem

ol
ul
dl
    margin-top 0
    margin-bottom 1rem

ol ol
ul ul
ol ul
ul ol
    margin-bottom 0

dt
    font-weight 700

dd
    margin-bottom 0.5rem
    margin-left 0

blockquote
    margin 0 0 1rem

b
strong
    font-weight bolder

small
.small
    font-size 0.875em

mark
.mark
    padding 0.1875em
    background-color c.highlight

sub
sup
    position relative
    font-size 0.75em
    line-height 0
    vertical-align baseline

sub
    bottom -0.25em

sup
    top -0.5em


pre
code
kbd
samp
    font-family font.monospace
    font-size 1em

pre
    display block
    margin-top 0
    margin-bottom 1rem
    overflow auto
    font-size 0.875em

pre code
    font-size inherit
    color inherit
    word-break normal

code
    font-size 0.875em
    color c.code
    word-wrap break-word

a > code
    color inherit

kbd
    padding 0.1875rem 0.375rem
    font-size 0.875em
    color c.body.bg
    background-color c.body.color
    border-radius 0.25rem
    kbd
        padding 0
        font-size 1em

figure
    margin 0 0 1rem

img
svg
    vertical-align middle

table
    caption-side bottom
    border-collapse collapse

caption
    padding-top 0.5rem
    padding-bottom 0.5rem
    color c.secondary.color
    text-align left

th
    text-align inherit
    text-align -webkit-match-parent

thead
tbody
tfoot
tr
td
th
    border-color inherit
    border-style solid
    border-width 0

label
    display inline-block

button
    border-radius 0
    &:focus:not(:focus-visible)
        outline 0

input
button
select
optgroup
textarea
    margin 0
    font-family inherit
    font-size inherit
    line-height inherit

button
select
    text-transform none


[role=button]
    cursor pointer

select
    word-wrap normal
    &:disabled
        opacity 1

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator
    display none !important

button
[type=button]
[type=reset]
[type=submit]
    -webkit-appearance button

button:not(:disabled)
[type=button]:not(:disabled)
[type=reset]:not(:disabled)
[type=submit]:not(:disabled)
    cursor pointer

::-moz-focus-inner
    padding 0
    border-style none

textarea
    resize vertical

fieldset
    min-width 0
    padding 0
    margin 0
    border 0

legend
    float left
    width 100%
    padding 0
    margin-bottom 0.5rem
    font-size calc(1.275rem + 0.3vw)
    line-height inherit
    @media (min-width: 1200px)
        font-size 1.5rem
        & + *
            clear left

::-webkit-
    &inner-spin-button
        height auto
    &datetime-edit-
        &fields-wrapper
        &text
        &minute
        &hour-field
        &day-field
        &month-field
        &year-field
            padding 0
    &search-decoration
        -webkit-appearance none
    &color-swatch-wrapper
        padding 0
    &file-upload-button
        font inherit
        -webkit-appearance button

[type=search]
    outline-offset -2px
    -webkit-appearance textfield

::file-selector-button
    font inherit
    -webkit-appearance button

output
    display inline-block

iframe
    border 0

summary
    display list-item
    cursor pointer

progress
    vertical-align baseline

[hidden]
    display none !important

/*
html
    box-sizing border-box
    font-family sans-serif
    line-height 1.15
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%
    -ms-overflow-style scrollbar
    -webkit-tap-highlight-color transparent

*,
*::before,
*::after
    box-sizing inherit

@-ms-viewport
    width device-width

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section
    display block

body
    margin 10px
    font-family $font-family-base
    font-size s.rem*5
    font-weight $font-weight-normal
    line-height $line-height-sm 
    color $bodyColor
    background-color $bodyBackground

[tabindex="-1"]:focus
    outline none !important

hr
    box-sizing content-box
    height 0
    overflow visible

h1, h2, h3, h4, h5, h6
    margin-top 0
    margin-bottom s.rem*3

p
    margin-top 0
    margin-bottom s.rem*5

abbr[title],
abbr[data-original-title]
    text-decoration underline
    -webkit-text-decoration underline dotted
    text-decoration underline dotted
    cursor help
    border-bottom 0

address
    margin-bottom s.rem*5
    font-style normal
    line-height inherit

ol,
ul,
dl
    margin-top 0
    margin-bottom s.rem*5

ol ol,
ul ul,
ol ul,
ul ol
    margin-bottom 0

dt
    font-weight $font-weight-bold

dd
    margin-bottom s.rem*3
    margin-left 0

blockquote
    margin 0 0 s.rem*5

dfn
    font-style italic

b,
strong
    font-weight bolder

small
    font-size 80%

sub,
sup
    position relative
    font-size 75%
    line-height 0
    vertical-align baseline

sub
    bottom -.25em

sup
    top -.5em

a
    color $primary
    text-decoration none
    background-color transparent
    -webkit-text-decoration-skip objects
    &:hover
        color #0056b3
        text-decoration underline
    &:not([href]):not([tabindex])
        color inherit
        text-decoration none
    &:not([href]):not([tabindex]):focus
        outline 0

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover
    color inherit
    text-decoration none

pre,
code,
kbd,
samp
    font-family $font-family-monospace
    font-size 1em

pre
    margin-top 0
    margin-bottom s.rem*5
    overflow auto

figure
    margin 0 0 s.rem*5

img
    vertical-align middle
    border-style none

svg
    &:not(:root)
        overflow hidden

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea
    -ms-touch-action manipulation
    touch-action manipulation

table
    border-collapse collapse

caption
    padding-top s.rem*4
    padding-bottom @padding-top
    color $secondary
    text-align left
    caption-side bottom

th
    text-align left

label
    display inline-block
    margin-bottom s.rem*3

button
    &:focus
        outline 1px dotted
        outline 5px auto -webkit-focus-ring-color

input,
button,
select,
optgroup,
textarea
    margin 0
    font-family inherit
    font-size inherit
    line-height inherit

button,
input
    overflow visible

button,
select
    text-transform none

input[type="radio"],
input[type="checkbox"]
    box-sizing border-box
    padding 0

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"]
    -webkit-appearance listbox

textarea
    overflow auto
    resize vertical

fieldset
    min-width 0
    padding 0
    margin 0
    border 0

legend
    display block
    width 100%
    max-width 100%
    padding 0
    margin-bottom s.rem*3
    font-size s.rem*8
    line-height inherit
    color inherit
    white-space normal

progress
    vertical-align baseline

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button
    height auto

[type="search"]
    outline-offset -2px
    -webkit-appearance none

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration
    -webkit-appearance none

::-webkit-file-upload-button
    font inherit
    -webkit-appearance button

output
    display inline-block

summary
    display list-item

template
    display none

[hidden]
    display none !important
*/
